*{
    box-sizing: border-box;
}
body{
    font-family: -apple-system, "Helvetica Neue", sans-serif, "Mier Book";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.5;
    text-align: left;
    
}



#header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
  }

#upper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* padding: 10px 10px; */
    /* margin-right: 10px; */
}

#upper img{
    width: 15%;
}

#upper a>h4{
    color: black;
}

#search{
    width: 40%;
    height: 30%;
    padding: 10px;
    margin-top: 20px;
 }


  
  form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
  }
  
  label {
    margin-top: 10px;
  }
  
  input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  

  #profileForm{
   width: 70%;
    display: flex;
    margin: auto;
  }

  #signup{
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
    
    margin-left: 80px;
  }

  #signup input{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 1px black solid;
  }

#login{
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
}

#login input{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 1px black solid;
}